# Config
public/config/production.json
public/config/development.json

# Logs
npm-debug.log*
yarn-error.log
lerna-debug.log

# NPM
node_modules/

# Transpiled code
dist
types
.out

# Dev tools
.DS_Store
.vscode
.idea
*.swp
*.bak

# CSS
css

node_modules.nosync/

# Storybook
storybook-static/

#jest
.jest-cache
